<div class="row">
<aside class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{#each options}}
            <li {{bindAttr class="active"}}><a href="#" {{action 'setSubsectionType' this}}>{{text}}</a></li>
        {{/each}}
    </ul>
</aside>
<div class="col-md-9">
{{outlet}}
</div>    
</div>