<div class="row">
    <ul class="nav nav-pills">
        {{#each options}}
            <li {{bindAttr class="active"}}><a href="#" {{action 'select' this}}>{{text}}</a></li>
        {{/each}}
    </ul>
    {{outlet}}    
</div>
