<div class="row search-row">
    <div class="search">
        {{token-collector value=content
                          placeholder='search'
                          minimumInputLength=3
                          ajax=searchSuggestionsQuery
                          changed='changeContent'}}
    </div>
</div>
{{outlet}}
