$icon-font-path: "../vendor/sass-bootstrap/fonts/";

@import 'bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*  ****  APP STYLES START HERE  ****  */

.articles {
    margin-left: 4em;
}

ul.pager > li > a {
    font-size: 0.9em;
    padding: 2px;
    border: none;
}

.tei.head {
    font-family: 'Fjord One', serif;
    font-size: 1.3em;
    [data-tei-rend="smallcaps"] {
        font-weight: bold;
    }
}

[data-tei-rend="italics"] {
    font-style: italic;
}

p {
    [data-tei-rend="smallcaps"] {
        font-size: 1.1em;
    }
}

[data-tei-rend="smallcaps"] {
    font-variant: small-caps;
}

ul.tei.list {
    list-style: none;
    .tei.head {
        font-size: 1em;
    }
}

.tei.div3 {
    font-family: 'Fjord One', serif;
}

p.tei.p {
    padding-left: 2em;
    font-size: 1.1em;
    margin-bottom: 0.2em;
    max-width: 80%;
    text-align: justify;
    text-indent: 1em;
}

.tei.table {
    max-width: 80%;
}

ul.pager {
    margin: 0;
    label: {
        font-variant: small-caps;
    }
    a {
        max-width: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}


.root-toggle a {
    float: right;
    margin-right: 2em;
}

$peopleColor: yellow;
$placesColor: lightblue;
$orgsColor: lightpink;
$rsColor: lightgreen;

.browse-content {
    margin-top: 30px;
    .glyphicon {
        width: 100%;
        margin-top: 10px;
        label {
            line-height:2.2em;
        }
        span {
            font-size: 30px;
            @extend .pull-right;
        }
    }
    section {
        border-right: 1px solid whitesmoke;
        @extend .col-sm-11;
    }
    aside {
        .nav-stacked.nav-pills {
            margin-top: 1em;
            li {
                padding: 0.1em;
                &.active.people a {
                    color: black;
                    background-color: $peopleColor;
                }
                &.active.places a {
                    color: black;
                    background-color: $placesColor;
                }
                &.active.organizations a {
                    color: black;
                    background-color: $orgsColor;
                }
                &.active.keywords a {
                    color: black;
                    background-color: $rsColor;
                }
                a {
                    padding: 0.1em 0 0.1em 1em;
                }
            }
            border-bottom: 1px solid black;
        }
        @extend .col-sm-1
    }
}

.browse-content.show-details {
    section {
        @extend .col-sm-9
    }
    aside {
        @extend .col-sm-3
    }
}

.rounded-corners {
    border-radius: 5px;
}

.tei.persName[data-tei-n][data-tei-reg]:hover {
    cursor: pointer!important;
    background-color: transparentize($peopleColor, 0.5);
}
.highlight.people {
    .tei.persName[data-tei-n][data-tei-reg] {
        background-color: $peopleColor;
        @extend .rounded-corners;
    }
}


.tei.placeName[data-tei-key][data-tei-reg]:hover {
    cursor: pointer!important;
    background-color: transparentize($placesColor, 0.5);
}
.highlight.places {
    .tei.placeName[data-tei-key][data-tei-reg] {
        background-color: $placesColor;
        @extend .rounded-corners;
    }
}


.tei.orgName[data-tei-n][data-tei-type]:hover {
    cursor: pointer!important;
    background-color: transparentize($orgsColor, 0.5);
}
.highlight.organizations {
    .tei.orgName[data-tei-n][data-tei-type] {
        background-color: $orgsColor;
        @extend .rounded-corners;
    }
}


.tei.rs[data-tei-reg][data-tei-type]:hover {
    cursor: pointer!important;
    background-color: transparentize($rsColor, 0.5);
}
.highlight.keywords {
    .tei.rs[data-tei-reg][data-tei-type] {
        background-color: $rsColor;
        @extend .rounded-corners;
    }
}


.search-articles article {
    max-height: 10em;
    overflow: hidden;
}

.loading-spinner {
    min-height: 300px;
    display: none;
}

.loading-spinner.is-loading {
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

a {
    color: black;
    &:hover {
        text-decoration: none;
    }
}