/build
/.sass-cache
/dist
/env
/node_modules
/vendor-src/*/src
*.pyc
.bundle
.DS_Store
sublime-project.*
.project
.pydevproject
.gitignore
.metadata
RESTServer.log
/server/.settings/org.eclipse.core.resources.prefs
.idea
/server/config_tborglocal.py
/server/config.py
*.sql
bower_components
notes.md
